*.lock

# Various IDEs
.project
.idea/
*.tmproj
.vscode/

values-local.yaml
values-production.yaml
README-deployment.md

install-local.sh
install-production.sh

SOLUTIONS.md

.claude
charts/kube-service-selectors/README.md
charts/kube-cost-metrics-collector/README.md
